# Ignore database files
*.sqlite3
*.db
*.sql
# Environment variable files
.env
# Local Flask instance folder
instance/

# Python environments & artifacts
venv/
env/
myenv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
flask_session/
*.log

# OS files
.DS_Store
.DS_Store?
static/.DS_Store
templates/.DS_Store
Thmubs.db

# IDEs/Editors
.vscode/
.idea/
*.swp
*.swo

# Documentation (Private)
questions.md
MVC.md
deployment_guide.md
prompt.txt
ProjetFinalCDA.txt
paraReverDepois.txt