{% extends "base.html" %}

{% block title %}Legal Mentions - {{ super() }}{% endblock %}

{% block content %}
<div class="container mt-5 pt-5">
    <div class="card shadow-lg p-5">
        <h1 class="mb-4">Legal Mentions</h1>
        <h3>1. Website Presentation</h3>
        <p>Owner: Maycon</p>
        <p>Contact: contact@languageexchange.com</p>

        <h3>2. Terms of Service</h3>
        <p>By accessing this website, you are agreeing to be bound by these website Terms and Conditions of Use, all
            applicable laws and regulations, and agree that you are responsible for compliance with any applicable local
            laws.</p>

        <h3>3. Intellectual Property</h3>
        <p>The materials contained in this website are protected by applicable copyright and trademark law.</p>
    </div>
</div>
{% endblock %}