{% extends "base.html" %}

{% block title %}Legal Mentions - {{ super() }}{% endblock %}

{% block content %}
<div class="container mt-5 pt-5">
    <div class="card shadow-lg p-5">
        <h1 class="mb-4">{{ t('legal_title') }}</h1>
        <h3>{{ t('legal_s1_title') }}</h3>
        <p>{{ t('legal_s1_owner') }}</p>
        <p>{{ t('legal_s1_contact') }}</p>
        <p>{{ t('legal_s1_host') }}</p>

        <h3>{{ t('legal_s2_title') }}</h3>
        <p>{{ t('legal_s2_text') }}</p>

        <h3>{{ t('legal_s3_title') }}</h3>
        <p>{{ t('legal_s3_text') }}</p>

        <h3>{{ t('legal_s4_title') }}</h3>
        <p>{{ t('legal_s4_text') }}</p>

        <h3>{{ t('legal_s5_title') }}</h3>
        <p>{{ t('legal_s5_text') }}</p>
    </div>
</div>
{% endblock %}